/test
.nyc_output
.env
.env.*
!.env.dist
.jshintrc
.prettierignore
.editorconfig
/.github
/.dependabot
/.jshintignore
/src
/*.log
/*.nlp
/migrations
/tsconfig.json
/*.ts
/coverage.lcov
/data
/*.log
/*.nlp
